# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/.dart_tool/
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
**/app.*.symbols
**/app.*.map.json

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# Android related
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/.gradle/
**/local.properties
**/GeneratedPluginRegistrant.java

# Analysis
analysis.txt
